/*

*/

.version.thank_you /* version checker */
{
	color: #0000EC;
	background-color: #53671C;
}

#page
{
	z-index: 1;
	min-height: 1135.7999999999997px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	max-width: 380px;
}

#page_position_content
{
	margin-bottom: -55px;
	width: 100%;
}

#u11208
{
	z-index: 12;
	min-height: 87px;
	background-color: #000000;
	padding-bottom: 33px;
}

#u11210
{
	z-index: 14;
	height: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	width: 10.53%;
	left: 20.79%;
	background: transparent url("../../images/logo2.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u11210
{
	background-image: url("../../images/logo2_2x.png");
}

#pu11211-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 40px;
	margin-left: 127px;
}

#u11211-4
{
	z-index: 15;
	width: 195px;
	min-height: 22px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: '__Lato_5';
	font-weight: 500;
	position: relative;
}

#u11212-4
{
	z-index: 19;
	width: 205px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	letter-spacing: 2px;
	color: #FFFFFF;
	font-size: 6px;
	line-height: 7px;
	font-family: '__Lato_5';
	font-weight: 400;
	margin-top: 1px;
	position: relative;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u11208-bw
{
	z-index: 12;
	min-height: 87px;
}

#u11206-4
{
	z-index: 2;
	min-height: 76px;
	background-color: transparent;
	text-align: center;
	font-size: 29px;
	line-height: 35px;
	font-family: '__Lato_5';
	font-weight: 400;
}

#u11206-4-bw
{
	z-index: 2;
	min-height: 76px;
	margin-top: 137px;
}

#u11207-6
{
	z-index: 6;
	min-height: 71px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	font-family: '__Lato_5';
	font-weight: 400;
}

#u11207-6-bw
{
	z-index: 6;
	min-height: 71px;
	margin-top: 12px;
}

#u11213-4
{
	z-index: 23;
	min-height: 22px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Lato_5';
	font-weight: 400;
}

#u11213-4-bw
{
	z-index: 23;
	min-height: 22px;
	margin-top: 187px;
}

#u11216
{
	z-index: 29;
	height: 96px;
	margin-top: 66px;
	position: relative;
	width: 60.79%;
	margin-left: 19.48%;
	background: transparent url("../../images/rambler.png") no-repeat left top;
	background-size: cover;
}

#u11217
{
	z-index: 30;
	height: 96px;
	margin-top: 26px;
	position: relative;
	width: 47.37%;
	margin-left: 26.32%;
	background: transparent url("../../images/mail_ru_transparent_logo-190x110.png") no-repeat left top;
	background-size: cover;
}

#u11215
{
	z-index: 28;
	height: 65px;
	margin-top: 25px;
	position: relative;
	width: 43.16%;
	margin-left: 30.53%;
	background: transparent url("../../images/yandex_logo_en-svg%20copy.png") no-repeat left top;
	background-size: cover;
}

#u11214
{
	z-index: 27;
	height: 92px;
	margin-top: 64px;
	position: relative;
	width: 60.79%;
	margin-left: 19.48%;
	background: transparent url("../../images/mail_logo_rgb_web.png") no-repeat left top;
	background-size: cover;
}

#u11209
{
	z-index: 13;
	height: 632px;
	background-color: #E5E5E5;
}

#u11209-bw
{
	z-index: 13;
	margin-top: -506px;
	margin-bottom: -506px;
	height: 632px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../../fonts/lato-medium.eot');
	src: local('☺'), url('../../fonts/lato-medium.woff') format('woff'), url('../../fonts/lato-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../../fonts/lato-regular.eot');
	src: local('☺'), url('../../fonts/lato-regular.woff') format('woff'), url('../../fonts/lato-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

