#page { display: none; }
.orientationError {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #1b1b1b;
}
.orientationError .text {
	margin: 160px auto;
	text-align: center;
	color: #fff;
}
