body {
	background: #000 url("../../images/dark_wood_optimized.jpg") no-repeat center top;
	font-family: '__Lato_5';
	background-attachment: fixed;
}
html { background: #000; }
html, body { overflow-x: hidden; }
html, body { overflow-y: scroll !important; }
header { height: 110px; }
input {
	text-align: center !important;
}
.left { }
.right { }
.page {
	background: rgba(0, 0, 0, 0.72);
	width: 750px;
	margin: 0 auto;
	margin-top: 30px;
	padding: 12px;
	border-radius: 10px 10px 0px 0px;
}
.logo {
	background: transparent url("../../images/logo2.png") no-repeat center center;
	height: 40px;
	float: left;
	width: 40px;
	margin-top: 10px;
}
.companyNameBlock {
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}
.companyName {
	width: 206px;
	min-height: 22px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 21px;
	line-height: 25px;
	font-weight: 500;
	margin-bottom: 2px;
}
.companyNamePs {
	width: 205px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 8px;
	line-height: 10px;
	font-weight: 400;
}
.headerLinksBlock {
	float: left;
	margin: 0 4px;
	margin-top: 10px;
	width: 742px;
}
.security { margin-left: calc((100% / 2) - 169px); float: left; }
.headerLinksBlock p{
	float: left;
	margin-left: 12px;
	background-color: transparent;
	opacity: 0.82;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=82)";
	filter: alpha(opacity=82);
	color: #EFEFEF;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 400;
}
.headerLinksBlock img { float: left; }
.headerLinksBlock .security {  }
.headerLinksBlock .faq { float: right; }
.phoneBlock {
	float: right;
	margin-top: 5px;
	margin-right: 3px;
}
.phoneBlock p {
	float: left;
}
.phoneBlock img {
	float: left;
}
.number {
	min-height: 25px;
	background-color: transparent;
	line-height: 25px;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-size: 22px;
	font-weight: 300;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=7)";
	filter: alpha(opacity=7);
}
.call {
	margin-top: 6px;
}
.call img {
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	width: 15px;
	margin-top: 3px;
}
.call p {
	min-height: 24px;
	background-color: transparent;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	color: #FFFFFF;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	margin-top: 2px;
	margin-left: 5px;
}
.call img:hover, .call p:hover, .headerLinksBlock p:hover {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.topicBlock {
	text-align: center;
	color: white;
	margin: 65px 0;
}
.topicBlock .topic {
	font-size: 22px;
	padding-bottom: 6px;
	/* border-bottom: 1px solid #DAA400; */
	display: inline-block;
	text-decoration: upper;
	text-transform: uppercase;
}
.topicBlock .subTopic {
	font-size: 16px;
	margin-top: 15px;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
}
footer { background: #000000; padding: 30px 0 30px 0;}
footer .block1 {
	min-height: 84px;
	background-color: transparent;
	color: #686868;
	font-size: 12px;
	line-height: 14px;
	font-weight: 300;
	width: 746px;
	margin: 10px auto;
}
footer .block2 {
	min-height: 51px;
	background-color: transparent;
	color: #494949;
	font-size: 12px;
	line-height: 14px;
	font-weight: 300;
	width: 746px;
	margin: 10px auto;
}
footer .block3 {
	display: none;
	color: #333;
	font-size: 10px;
	width: 746px;
	margin: 10px auto;
}
.block {
	width: 666px;
	display: flex;
	flex-wrap: wrap;
	-pie-box-shadow: none;
	justify-content: space-between;
	/*align-items: center;*/
	align-content: space-around;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.32);
	border-style: solid;
	border-width: 1px;
	border-color: #565656;
	background-color: #656565;
	background-color: rgba(15,15,15,0.64);
	border-radius: 3px;
	padding: 40px;
	-pie-background: rgba(15,15,15,0.64);
	margin: 10px auto;
	color: white;
	position: relative;
}
.first {
	text-align: center;
}
.first img {
	width: 181px;
	height: 181px;
	margin-bottom: 28px;
}
.first .imgInfo {
	line-height: 28px;
	font-size: 18px;
	font-weight: 500;
	text-align: left;
}
.second { 
	width: 408px;	
}
.second .name {
	font-size: 30px;
	font-weight: 500;
	padding-bottom: 10px;
	border-bottom: 1px solid #DAA400;
	display: inline-block;
	margin-bottom: 15px;
}
.second .text {
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
}
@font-face
{
	font-family: '__Lato_5';
	src: url('../../fonts/lato-light.eot');
	src: local('☺'), url('../../fonts/lato-light.woff') format('woff'), url('../../fonts/lato-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../../fonts/lato-regular.eot');
	src: local('☺'), url('../../fonts/lato-regular.woff') format('woff'), url('../../fonts/lato-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../../fonts/lato-medium.eot');
	src: local('☺'), url('../../fonts/lato-medium.woff') format('woff'), url('../../fonts/lato-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../../fonts/lato-bold.eot');
	src: local('☺'), url('../../fonts/lato-bold.woff') format('woff'), url('../../fonts/lato-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

/* Forms */

.overlay {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.75);
	position: fixed;
	top: 0;
}
.formBox {
	width: 642px;
	height: 417px;
	margin: 0 auto;
	border-style: solid;
	border-width: 1px;
	border-color: #545454;
	background-color: #2B2B2B;
	background-color: rgba(25,25,25,0.92);
	border-radius: 5px;
	-pie-background: rgba(25,25,25,0.92);
	padding-top: 48px;
	margin-top: 10%;
	position: relative;
}
.cancel {
	position: absolute;
	top:0;
	right:0;
	width: 50px;
	height: 33px;
	text-align: center;
	padding-top: 17px;
	z-index: 1100;
}
#u6914{top:-1000px;}
#subscr-form-9168 input.form-submit.jc_compile_btn{margin-top:13px;width:250px;height:60px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background:#FAB70F;border:solid 0px #1a1a1a;box-shadow: 0 0px #000000;transition-duration: 0.150s;transition-delay: 0s;transition-timing-function: linear;}
#subscr-form-9168 input.form-submit.jc_compile_btn:hover{border:solid 0px #1a1a1a;background:#FAB70F;box-shadow: 0 0px #000000;}
#subscr-block-9168{}
#subscr-form-9168 td{font:normal 16px Arial,Helvetica,sans-serif;text-align:center;padding:0;}
#subscr-form-9168 input.form-submit{text-align:center;width:auto;}#subscr-form-9168 #form-submit-9168{border:solid 1px #e0e0e0;margin-top:5px;}#subscr-form-9168 a.oferta{color:#034795;text-decoration:underline;}#subscr-form-9168 a.oferta:hover{text-decoration:none;}#subscr-form-9168 a.jc_compile_btn span, #subscr-form-9168 input.form-submit.jc_compile_btn{font:normal 18px Helvetica;padding-top:7px;margin-bottom:-5px;}#subscr-form-9168 input[type=text]{font:normal 16px Helvetica;background:#ededed;color:#000000;text-align:left;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;border:#FFFFFF 0px solid;padding:7px 10px;margin:5px 10px 8px;width:234px;height:35px;transition-duration: 0.150s;transition-delay: 0s;transition-timing-function: linear;}#subscr-form-9168 input[type=text]:hover{background:#ededed;border:#FFFFFF 0px solid;}
#u7542-4 {
	z-index: 787;
	width: 642px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: '__Lato_5';
	font-weight: 400;
	left: -1px;
	position: relative;
	margin-top: 24px;
	margin-bottom: 17px;
}
#u7545-6 {
	z-index: 791;
	width: 642px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: '__Lato_5';
	font-weight: 400;
	left: -1px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}
#u6913 {
	width: 225px;
	min-height: 117px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 184px;
	margin-top: 3px;
}
.wrapper {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-size: 100%;
	background-image: url('../../images/dark_wood_optimized.jpg);
}
