html { background: linear-gradient(rgba(135, 111, 32, 1), rgba(25, 24, 18, 1)); }
body { font-family: '__Lato_5'; max-width: 1200px; margin: 0 auto;}
header {}
.headerConteiner {
	min-height: 130px;
	padding: 0 50px;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-around;
	background: linear-gradient(rgba(29, 23, 9, 1), rgba(28, 23, 7, 1));
}
.logoConteiner {
	display: -webkit-flex;
	display: flex;
	flex-basis: 259px;
}
.logoConteiner img {
	height: 40px;
	width: 40px;
}
.logoConteiner a {
	display: -webkit-flex;
	display: flex;
	align-items: center;
}
.companyNameBlock {
	float: left;
	margin-left: 9px;
	margin-top: 10px;
}
.companyName {
	min-height: 22px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 21px;
	line-height: 25px;
	font-weight: 500;
	margin-bottom: 2px;
}
.companyNamePs {
	min-height: 16px;
	background-color: transparent;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 8px;
	line-height: 10px;
	font-weight: 400;
}
.info {
	font-size: 13px;
	color: white;
	text-decoration: underline;
	text-transform: uppercase;
}
.trigger {
	width: 100%;
}
.firstInfo {
	display: -webkit-flex;
	display: flex;
	flex-basis: 167px;
}
.secondInfo {
	display: -webkit-flex;
	display: flex;
	flex-basis: 186px;
	text-align: center;
}
.thirdInfo {
	display: -webkit-flex;
	display: flex;
	flex-basis: 199px;
	text-align: right;
}
.phoneBlock {
	display: -webkit-flex;
	display: flex;
	flex-basis: 216px;
	flex-wrap: wrap;
}
.phoneBlock .number {
	font-size: 24px;
	color: white;
	font-weight: 300;
	text-align: right;
	width: 100%;
}
.phoneBlock .subText{
	font-size: 11px;
	color: white;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	font-weight: 300;
	text-align: right;
	width: 100%;
}

/* tablet version */

@media screen and (max-width: 1200px) and (min-width: 760px){

.logoConteiner {
	order: 1;
	flex-basis: 50%;
}
.phoneBlock {
	order: 2;
	flex-basis: 50%;
}
.info {
	order: 3;
}




}




@font-face
{
	font-family: '__Lato_5';
	src: url('../fonts/lato-light.eot');
	src: local('☺'), url('../fonts/lato-light.woff') format('woff'), url('../fonts/lato-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../fonts/lato-regular.eot');
	src: local('☺'), url('../fonts/lato-regular.woff') format('woff'), url('../fonts/lato-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../fonts/lato-medium.eot');
	src: local('☺'), url('../fonts/lato-medium.woff') format('woff'), url('../fonts/lato-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../fonts/lato-bold.eot');
	src: local('☺'), url('../fonts/lato-bold.woff') format('woff'), url('../fonts/lato-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}