html { background: linear-gradient(rgba(135, 111, 32, 1), rgba(25, 24, 18, 1)); }
body { font-family: '__Lato_5'; max-width: 1200px; margin: 0 auto;}
header {}
ul {
	padding: 0;
	margin: 20px 0;
}
ul li {
	position: absolute;
	display:  none;
	list-style-type: none;
	width: 100%;
	padding: 40px 30px;
	font-size: 14px;
	font-weight: 400;
	text-transform: none;
	border-radius: 0 5px 5px 5px;
	margin-top: 20px;
	z-index: 100;
	background: linear-gradient(rgba(43, 43, 41, 1), rgba(5, 4, 1, 0.9));
}
.info li {
	width: 80%;
	margin: 20px 0 0 0;
	border-radius: 0 0 5px 5px;
	padding: 10%;
}
.info:hover li {
	display: block;
}
.info:hover {
	background: linear-gradient(rgba(57, 57, 55, 1), rgba(43, 43, 41, 1));
	border-radius: 5px 5px 0 0;
	text-decoration: none;
}
.info {
	order: 3;
	flex-basis: 100%;
}
.headerConteiner {
	min-height: 130px;
	padding: 0;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-around;
	background: linear-gradient(rgba(29, 23, 9, 1), rgba(28, 23, 7, 1));
}
.logoConteiner {
	display: -webkit-flex;
	display: flex;
	margin-top: 10px;
	flex-basis: 100%;
	justify-content: center;
}
.logoConteiner img {
	height: 40px;
	width: 40px;
}
.logoConteiner a {
	display: -webkit-flex;
	display: flex;
	align-items: center;
}
.companyNameBlock {
	float: left;
	margin-left: 9px;
	margin-top: 10px;
}
.companyName {
	min-height: 22px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 21px;
	line-height: 25px;
	font-weight: 500;
	margin-bottom: 2px;
}
.companyNamePs {
	min-height: 16px;
	background-color: transparent;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 8px;
	line-height: 10px;
	font-weight: 400;
}
.info {
	font-size: 13px;
	color: white;
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
}
.trigger {
	width: 100%;
}
.phoneBlock {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	flex-basis: 100%;
	justify-content: center;
	text-align: center;
}
.phoneBlock .number {
	font-size: 24px;
	color: white;
	font-weight: 300;
	width: 100%;
}
.phoneBlock .subText{
	font-size: 11px;
	color: white;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	font-weight: 300;
	width: 100%;
	display: none;
}

/*main part*/
.main {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	align-content: space-around;
	padding-top: 15px;
	background: rgba(0, 0, 0, 0.3);
	justify-content: center;
	padding: 0;
}
.videoBlock {
	flex-basis: 100%;
	padding-bottom: 0;
}
.videoBlock .title{
	padding: 35px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	color: white;
}
.sidebar {
	flex-basis: 273px;
	height: 552px;
	padding-bottom: 75px;
}
.sidebar .headerTitle {
	padding: 58px 0 20px 0;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.sidebar .oprosBlock {
	height: 246px;
	width: 213px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	padding: 45px 30px;
}
.questions {
	font-size: 14px;
	font-weight: 400;
	color: white;
	margin-bottom: 20px;
}
.actionButton {
	width: 273px;
	height: 86px;
	background-color: #E78F16;
	margin-top: 30px;
}
.answersBlock .radioText {
	margin-bottom: 10px;
	color: white;
	font-size: 14px;
	font-weight: 300;
}
.answersBlock input {
	float: left;
	margin-left: 0;
}
input[type="submit"] {
	-webkit-appearance: none;
	background: transparent;
	color: white;
	box-shadow: none;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #fff;
	margin-top: 40px;
	cursor: pointer;
	width: 100%;
	padding: 9px 20px 13px 20px;
}

.subscribeBlock {
	margin: 0px;
}
.textBlock {
	color: white;
	float: left;
	width: 95%;
	margin: 0 0 20px 0;
	text-align: center;
	padding: 0 2.5%;
}
.textBlock .title {
	font-size: 28px;
}
.subscribeBlock .title {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 30px;
}
.subscribeBlock .text {
	font-size: 18px;
	font-weight: 400;
}
.subscribeForm {
	float: none;
}
.subscribeForm input {
	text-align: center;
}
.subscribeForm img {
	position: relative;
	left: 10px;
	margin-top: 18px;
	height: 20px;
	width: 21px;
	float: left;
	margin-left: 5px;
}
.subscribeForm p {
	position: relative;
	left: 13px;
	margin-top: 22px;
	text-align: left;
	float: left;
	color: white;
	opacity: 0.7;
	font-size: 12px;
	font-weight: 300;
}
/* form */

#subscr-block-1562 {
}
#subscr-form-1562 td {
	font-size:16px;
	font-weight: 400;
	text-align:center;
	padding:0;
}
#subscr-form-1562 input.form-submit {
	text-align:center;
	width: auto;
}
#subscr-form-1562 #form-submit-1562 {
	border:solid 1px #E0E0E0;margin-top:5px;
}
#subscr-form-1562 a.oferta {
	color: #034795;
	text-decoration: underline;
}
#subscr-form-1562 a.oferta:hover {
	text-decoration: none;
}
#subscr-form-1562 a.jc_compile_btn, input.form-submit {
	border:solid 1px #E0E0E0;margin-top:5px;
}
#subscr-form-1562 a.jc_compile_btn span, #subscr-form-1562 input[type="submit"] {
	float: right;
	width: 100%;
	margin: 10px auto 0 auto;
	padding: 9px 20px 13px 20px;
}
#subscr-form-1562 input[type=text] {
	color:#000;
	font-size:16px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:#ccc 1px solid;
	padding:7px 10px;
	margin:5px 10px 8px;
	width:252px;
}
#subscr-form-1562 textarea.leads_textarea {
	color:#000;
	font-size:16px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:#ccc 1px solid;
	padding:7px 10px;
	margin:5px 10px 8px;
	width:240px;
	height:120px;
}
#subscr-form-1562 select.leads_select {
	color:#000;
	font-size:16px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:#ccc 1px solid;
	padding:7px 5px;
	margin:5px 10px 8px;
	width:262px;
	line-height:30px;
}
.videoConteiner {
	position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
iframe {
	position: absolute;
	top: 0;
    left: 0;
	width: 100%;
	height: 100%;
}
table {
	width: 250px;
}
@font-face
{
	font-family: '__Lato_5';
	src: url('../fonts/lato-light.eot');
	src: local('☺'), url('../../fonts/lato-light.woff') format('woff'), url('../../fonts/lato-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../fonts/lato-regular.eot');
	src: local('☺'), url('../../fonts/lato-regular.woff') format('woff'), url('../../fonts/lato-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../fonts/lato-medium.eot');
	src: local('☺'), url('../../fonts/lato-medium.woff') format('woff'), url('../../fonts/lato-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../fonts/lato-bold.eot');
	src: local('☺'), url('../../fonts/lato-bold.woff') format('woff'), url('../../fonts/lato-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}