html { background: linear-gradient(rgba(135, 111, 32, 1), rgba(25, 24, 18, 1)); }
body { font-family: '__Lato_5'; margin: 0; padding: 0; }
.content { max-width: 1200px; margin: 0 auto; }
header {}
ul {
	padding: 0;
	margin: 20px 0;
}
ul li {
	position: absolute;
	display:  none;
	list-style-type: none;
	width: 588px;
	padding: 40px 30px;
	font-size: 14px;
	font-weight: 400;
	text-transform: none;
	border-radius: 0 5px 5px 5px;
	margin-top: 20px;
	z-index: 100;
	background: linear-gradient(rgba(43, 43, 41, 1), rgba(5, 4, 1, 0.9));
}
.info:hover li {
	display: block;
}
.info:hover {
	background: linear-gradient(rgba(57, 57, 55, 1), rgba(43, 43, 41, 1));
	border-radius: 5px 5px 0 0;
	text-decoration: none;
}
.secondInfo li {
	width: 50%;
	max-width: 588px;
}
.thirdInfo li {
	margin-left: -449px;
	border-radius: 5px 0 5px 5px;
}
.headerConteiner {
	min-height: 130px;
	padding: 0 50px;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-around;
	background: linear-gradient(rgba(29, 23, 9, 1), rgba(28, 23, 7, 1));
}
.logoConteiner {
	display: -webkit-flex;
	display: flex;
	flex-basis: 259px;
}
.logoConteiner img {
	height: 40px;
	width: 40px;
}
.logoConteiner a {
	display: -webkit-flex;
	display: flex;
	align-items: center;
}
.companyNameBlock {
	float: left;
	margin-left: 9px;
	margin-top: 10px;
}
.companyName {
	min-height: 22px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 21px;
	line-height: 25px;
	font-weight: 500;
	margin-bottom: 2px;
	text-decoration: none;
}
.companyNamePs {
	min-height: 16px;
	background-color: transparent;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 8px;
	line-height: 10px;
	font-weight: 400;
	text-decoration: none;
}
.info {
	font-size: 13px;
	color: white;
	text-decoration: underline;
	text-transform: uppercase;
	text-align: center;
}
.trigger {
	width: 100%;
}
.firstInfo {
	flex-basis: 167px;
}
.secondInfo {
	flex-basis: 186px;
}
.thirdInfo {
	flex-basis: 199px;
}
.phoneBlock {
	display: -webkit-flex;
	display: flex;
	flex-basis: 216px;
	flex-wrap: wrap;
}
.phoneBlock .number {
	font-size: 24px;
	color: white;
	font-weight: 300;
	text-align: right;
	width: 100%;
}
.phoneBlock .subText{
	font-size: 11px;
	color: white;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	font-weight: 300;
	text-align: right;
	width: 100%;
	display: none;
}

/*main part*/
.main {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-around;
	padding-top: 15px;
	padding: 15px 50px;
	background: rgba(0, 0, 0, 0.3);
}
.videoBlock {
	flex-basis: 804px;
	padding-bottom: 75px;
}
.videoBlock .title{
	padding: 35px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	color: white;
}
.sidebar {
	flex-basis: 273px;
	height: 552px;
	padding-bottom: 75px;
}
.sidebar .headerTitle {
	padding: 58px 0 20px 0;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
.sidebar .oprosBlock {
	height: 246px;
	width: 213px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	padding: 45px 30px;
}
.questions {
	font-size: 14px;
	font-weight: 400;
	color: white;
	margin-bottom: 20px;
}
.actionButton {
	display: -webkit-flex;
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	width: 269px;
	height: 86px;
	margin-top: 30px;
	text-shadow: 0 0px 3px #fff;
	border: 2px solid;
	border-color: #FCD464 #D48316 #B6670A #E4A21A; /*  */
	box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, 0px 0px 3px #CC8516;
	background: linear-gradient(#FBBE21, #FBBE21 55%, #FBBE21 45%, #F2BA76);
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.9);
}

.answersBlock .radioText {
	margin-bottom: 10px;
	color: white;
	font-size: 14px;
	font-weight: 300;
}
.answersBlock input {
	float: left;
	margin-left: 0;
}
input[type="submit"] {
	-webkit-appearance: none;
	background: transparent;
	color: white;
	box-shadow: none;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #fff;
	padding: 4px 20px 8px 20px;
	margin-top: 40px;
	cursor: pointer;
	width: 100%;
	padding: 9px 20px 13px 20px;
}

.subscribeBlock {
	margin-left: 100px;
}
.textBlock {
	color: white;
	width: 520px;
	margin-right: 120px;
	float: left;
}
.subscribeBlock .title {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 30px;
}
.subscribeBlock .text {
	font-size: 18px;
	font-weight: 400;
}
.subscribeForm {
	float: left;
}
.subscribeForm input {
	text-align: center;
}
.subscribeForm img {
	position: relative;
	left: 10px;
	margin-top: 18px;
	height: 20px;
	width: 21px;
	float: left;
	margin-left: 5px;
}
.subscribeForm p {
	position: relative;
	left: 13px;
	margin-top: 22px;
	text-align: left;
	float: left;
	color: white;
	opacity: 0.7;
	font-size: 12px;
	font-weight: 300;
}

/* Form call */

/* Forms */

.overlay {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.75);
	position: fixed;
	top: 0;
}
.formBox {
	height: 438px;
	margin: 0 auto;
	border-style: solid;
	border-width: 1px;
	border-color: #545454;
	background-color: #2B2B2B;
	background-color: rgba(25,25,25,0.92);
	border-radius: 5px;
	-pie-background: rgba(25,25,25,0.92);
	padding-top: 40px;
	margin-top: 40px;
	position: relative;
}
.cancel {
	position: absolute;
	top:0;
	right:0;
	width: 40px;
	height: 28px;
	text-align: center;
	padding-top: 12px;
	z-index: 1100;
}
#u6914{top:-1000px;}
#subscr-form-9168 input.form-submit.jc_compile_btn{margin-top:13px;width:250px;height:60px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background:#FAB70F;border:solid 0px #1a1a1a;box-shadow: 0 0px #000000;transition-duration: 0.150s;transition-delay: 0s;transition-timing-function: linear;}
#subscr-form-9168 input.form-submit.jc_compile_btn:hover{border:solid 0px #1a1a1a;background:#FAB70F;box-shadow: 0 0px #000000;}
#subscr-block-9168{}
#subscr-form-9168 td{font:normal 16px Arial,Helvetica,sans-serif;text-align:center;padding:0;}
#subscr-form-9168 input.form-submit{text-align:center;width:auto;}#subscr-form-9168 #form-submit-9168{border:solid 1px #e0e0e0;margin-top:5px;}#subscr-form-9168 a.oferta{color:#034795;text-decoration:underline;}#subscr-form-9168 a.oferta:hover{text-decoration:none;}#subscr-form-9168 a.jc_compile_btn span, #subscr-form-9168 input.form-submit.jc_compile_btn{font:normal 18px Helvetica;padding-top:7px;margin-bottom:-5px;}#subscr-form-9168 input[type=text]{font:normal 16px Helvetica;background:#ededed;color:#000000;text-align:center;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;border:#FFFFFF 0px solid;padding:7px 10px;margin:5px 10px 8px;min-width:234px;height:35px;transition-duration: 0.150s;transition-delay: 0s;transition-timing-function: linear;}#subscr-form-9168 input[type=text]:hover{background:#ededed;border:#FFFFFF 0px solid;}
#u7542-4 {
	z-index: 787;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: '__Lato_5';
	font-weight: 400;
	left: -1px;
	position: relative;
	margin-bottom: 17px;
	margin-top: 24px;
}
#u7545-6 {
	z-index: 791;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
	font-family: '__Lato_5';
	font-weight: 400;
	position: relative;
	width: 95%;
	margin: 0 auto;
}
#u6913 {
	min-height: 117px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	width: 100%;
}
.popup_anchor { width: 100%; }

/* form */

.call {
	margin-top: 6px;
	width: 100%;
	margin-bottom: 10px;
}
.call .callConteiner {
	width: 195px;
	margin: 0 auto;
	
}
.call .callConteiner img {
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	width: 15px;
	margin-top: 3px;
	float: left;
	margin-left: 9px;
}
.call .callConteiner p {
	background-color: transparent;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	color: #FFFFFF;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	margin-top: 2px;
	margin-left: 5px;
	margin-bottom: 0;
	float: left;
}
.call img:hover, .call p:hover, .headerLinksBlock p:hover {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#subscr-block-1562 {
}
#subscr-form-1562 td {
	font-size:16px;
	font-weight: 400;
	text-align:center;
	padding:0;
}
#subscr-form-1562 input.form-submit {
	text-align:center;
	width: auto;
}
#subscr-form-1562 #form-submit-1562 {
	border:solid 1px #E0E0E0;margin-top:5px;
}
#subscr-form-1562 a.oferta {
	color: #034795;
	text-decoration: underline;
}
#subscr-form-1562 a.oferta:hover {
	text-decoration: none;
}
#subscr-form-1562 a.jc_compile_btn, input.form-submit {
	border:solid 1px #E0E0E0;margin-top:5px;
}
#subscr-form-1562 a.jc_compile_btn span, #subscr-form-1562 input[type="submit"] {
	float: right;
	width: 100%;
	margin: 10px auto 0 auto;
	padding: 9px 20px 13px 20px;
}
#subscr-form-1562 input[type=text] {
	color:#000;
	font-size:16px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:#ccc 1px solid;
	padding:7px 10px;
	margin:5px 10px 8px;
	width:252px;
}
#subscr-form-1562 textarea.leads_textarea {
	color:#000;
	font-size:16px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:#ccc 1px solid;
	padding:7px 10px;
	margin:5px 10px 8px;
	width:240px;
	height:120px;
}
#subscr-form-1562 select.leads_select {
	color:#000;
	font-size:16px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:#ccc 1px solid;
	padding:7px 5px;
	margin:5px 10px 8px;
	width:262px;
	line-height:30px;
}
.videoConteiner iframe { width: 804px; height: 452px; }

/* Poll */

.firstPoll {
	display: block;
}
.secondPoll {
	display: none;
}
.thirdPoll {
	display: none;
}
.results {
	display: none;
}

.resultBlock {	
	color: white;
	font-size: 14px;
	font-weight: 300;
}
.resultBlock .resultCircls .resultCircl {
	width: 10px;
	height: 10px;
	border-radius: 20px;
	float: left;
	margin-top: 5px;
}
.resultBlock .firstResult, .resultBlock .secondResult, .resultBlock .thirdResult {
	margin-bottom: 10px;
}
.question {
	padding-left: 20px;
}
.oprosBlock.results{
	padding-top: 20px;
	height: 300px;
}
.resultBlock .resultText {
	
}
.actionButton.last { height: 57px; }
.good { background-color: #149E27; }
.bad { background-color: #BA2121; }


/* tablet version */
@media screen and (min-width: 1200px) {
	.subscribeForm p {
		width: 140px;
	}
}
@media screen and (max-width: 768px) and (min-width: 320px) {
	.headerConteiner {
		padding: 0px;
	}
	.logoConteiner, .phoneBlock {
		margin-top: 10px;
		flex-basis: 100%;
		justify-content: center;
	}
	.phoneBlock .number, .phoneBlock .subText {
		text-align: center;
	}
	.info {
		order: 3;
		flex-basis: 100%;
	}
	.ul li {
		width: 100%;
	}
	.info li {
		width: 80%;
		margin: 20px 0 0 0;
		border-radius: 0 0 5px 5px;
		padding: 10%;
	}
	.main {
		justify-content: center;
		padding: 0;
	}
	.videoBlock {
		flex-basis: 100%;
		padding-bottom: 0;
	}
	.videoConteiner {
		position: relative;
	    padding-bottom: 56.25%;
	    height: 0;
	    overflow: hidden;
	}
	.videoConteiner iframe {
		position: absolute;
		top: 0;
	    left: 0;
		width: 100%;
		height: 100%;
	}
	.subscribeBlock {
		margin: 0;
	}
	.textBlock {
		width: 95%;
		margin: 0 0 20px 0;
		text-align: center;
		padding: 0 2.5%;
	}
	.subscribeForm {
		float: none;
	}
	.textBlock .title {
		font-size: 28px;
	}
}
table {
	width: 250px;
}
@font-face
{
	font-family: '__Lato_5';
	src: url('../../fonts/lato-light.eot');
	src: local('☺'), url('../../fonts/lato-light.woff') format('woff'), url('../../fonts/lato-light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../../fonts/lato-regular.eot');
	src: local('☺'), url('../../fonts/lato-regular.woff') format('woff'), url('../../fonts/lato-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../../fonts/lato-medium.eot');
	src: local('☺'), url('../../fonts/lato-medium.woff') format('woff'), url('../../fonts/lato-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../../fonts/lato-bold.eot');
	src: local('☺'), url('../../fonts/lato-bold.woff') format('woff'), url('../../fonts/lato-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}