html { /*background: linear-gradient(rgba(135, 111, 32, 1), rgba(25, 24, 18, 1));*/ background-image: url("../../images/rock.jpg"); background-size: cover; background-position: 50% -163px; }
body { font-family: '__Lato_5'; margin: 0; padding: 0; margin-top: 25px; }
.content { max-width: 1200px; margin: 0 auto; display: block; }
header { display: block; }
footer {display: block; height: 581px; }
footer .text { height: 100px; width: 96%; background-color: black; padding: 2%; }
footer .text .first { color: #686868; font-size: 12px; line-height: 14px; font-weight: 300; margin: 0 auto; width: 1200px; margin-bottom: 20px; }
footer .text .second { color: #494949; font-size: 12px; line-height: 14px; font-weight: 300; margin: 0 auto; width: 1200px; }
ul {
	padding: 0;
	margin: 20px 0;
}
.blackBlock {
	background: rgba(0,0,0,0.85);
	width: 1200px;
	height: 50px;
}
.counter {
	float: right;
	margin-top: 48px;
	color: #777;
	font-weight: 400;
	font-size: 13;
}
ul li {
	position: absolute;
	display:  none;
	list-style-type: none;
	width: 588px;
	padding: 40px 30px;
	font-size: 14px;
	font-weight: 400;
	text-transform: none;
	border-radius: 0 5px 5px 5px;
	margin-top: 20px;
	z-index: 100;
	background: linear-gradient(rgba(43, 43, 41, 1), rgba(5, 4, 1, 0.9));
	text-align: left;
}
.blackBlock {
	background: rgba(0,0,0,0.85);
	width: 1200px;
	height: 18px;
	margin: 0 auto;
	/* margin-top: 20px; */
}
.secondInfo li {
	width: 45%;
	max-width: 588px;
}
.thirdInfo li {
	margin-left: -449px;
	border-radius: 5px 0 5px 5px;
}
.headerConteiner {
	min-height: 130px;
	padding: 0 30px;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-around;
	background: rgba(0,0,0,0.85);
	border-radius: 5px 5px 0 0;
}
.logoConteiner {
	display: -webkit-flex;
	display: flex;
	flex-basis: 259px;
}
.logoConteiner img {
	height: 40px;
	width: 40px;
	margin-top: 6px;
}
.logoConteiner a {
	display: -webkit-flex;
	display: flex;
	align-items: center;
	text-decoration: none;
}
.companyNameBlock {
	float: left;
	margin-left: 9px;
	margin-top: 10px;
}
.companyName {
	min-height: 22px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 21px;
	line-height: 25px;
	font-weight: 500;
	text-decoration: none;
}
.companyNamePs {
	min-height: 16px;
	background-color: transparent;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 8px;
	line-height: 10px;
	font-weight: 400;
	text-decoration: none;
}
.info {
	font-size: 11px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}
/*
.nameOfUl1{
	padding-left: 9px;
}
.nameOfUl2{
	padding-left: 18px;
}
.nameOfUl3{
	padding-left: 6px;
}
*/
.trigger {
	width: 100%;
}
.firstInfo {
	flex-basis: 278px;
}
.secondInfo {
	flex-basis: 186px;
}
.thirdInfo {
	flex-basis: 199px;
}
.phoneBlock {
	display: -webkit-flex;
	display: flex;
	flex-basis: 178px;
	flex-wrap: wrap;
}
.phoneBlock .number {
	font-size: 17px;
	color: white;
	font-weight: 300;
	text-align: right;
	width: 100%;
}
.phoneBlock .subText{
	font-size: 11px;
	color: white;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	font-weight: 300;
	text-align: right;
	width: 100%;
	display: none;
}

/*main part*/
.main {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-around;
	padding-top: 15px;
	padding: 0px 50px 65px 50px;
	background: rgba(0, 0, 0, 0.55);
	padding-bottom: 35px;
}
.videoBlock {
	flex-basis: 804px;
	padding-bottom: 35px;
}
#timeref9f87870eaebca7b3a954a164e99305 {
	position: absolute;
	top: 317px;
	left: 73px;
}
.videoBlock .videoConteiner {
	position: relative;
	height: 450px;
	margin-top: 4px;
	border-radius: 5px;
	/*
	background: url("../../images/facebook_apro.png") no-repeat;
	background-size: cover;
	*/
}
.videoBlock .title{
	padding: 35px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: white;
}
.sidebar {
	flex-basis: 273px;
	height: 552px;
	padding-bottom: 35px;
}
.sidebar .banner {
	margin-top: 100px;
	background: url('../../images/cash.png') no-repeat;
	height: 452px;
	cursor: pointer;
}
.sidebar .headerTitle {
	padding: 58px 0 20px 0;
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	display: none;
}
.sidebar #pollAction {
	margin: 0;
}
.oprosTitle {
	color: white;
	margin-bottom: 40px;
}
.sidebar .oprosBlock {
	height: 276px;
	width: 213px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	padding: 45px 30px;
	margin-top: 100px;
}
.questions {
	font-size: 14px;
	font-weight: 400;
	color: white;
	margin-bottom: 20px;
}
.subscribeBlock .actionButton {
    text-align: center;
	width: 269px;
	height: 53px;
	margin-top: 29px;
	border: none;
	background: #E3B500;
	border-radius: 35px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.9);
	cursor: pointer;
	padding: 0;
}
.actionButton:hover {
	box-shadow: 0 0 10px 3px #A48B23;
}
.bannerButton {
	display: -webkit-flex;
	display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	width: 208px;
	height: 45px;
	margin-top: 29px;
	border: none;
	background: #E3B500;
	border-radius: 35px;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.9);
	cursor: pointer;
	padding: 0;
	position: relative;
	top: 292px;
	left: 29px;
	transition: 0.3s;
}
.banner:hover > .bannerButton {
	box-shadow: 0 0 10px 3px #A48B23;
}
.firstPoll .counterBlock {
	margin-top: 13px;
}
.thirdPoll .counter, .secondPoll .counter {
	margin-top: 28px;
}
.firstPoll input[type="submit"] {
	color: #444;
	border-color: #444;
}
.secondPoll input[type="submit"] {
	color: #444;
	border-color: #444;
}
.thirdPoll input[type="submit"] {
	color: #444;
	border-color: #444;
}
.thirdPoll input[type="submit"], .secondPoll input[type="submit"] {
	margin-top: 20px;
}
.answersBlock .radioText {
	margin-bottom: 10px;
	color: white;
	font-size: 14px;
	font-weight: 300;
	padding-left: 20px;
}
.answersBlock input {
	float: left;
	margin-left: 0;
}
.results input[type="submit"] {
	margin-top: 38px;
	width: 100%;
}
input[type="submit"] {
	-webkit-appearance: none;
	background: transparent;
	color: white;
	box-shadow: none;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #fff;
	padding: 4px 20px 8px 20px;
	margin-top: 40px;
	cursor: pointer;
}

.subscribeBlock {
	background-color: rgba(0,0,0,0.4);
	width: 90%;
	padding: 40px 0px 20px 104px;
	border-radius: 5px;
}
.textBlock {
	color: white;
	width: 520px;
	margin-right: 77px;
	float: left;
}
.subscribeBlock .title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 30px;
}
.subscribeBlock .text {
	font-size: 16px;
	font-weight: 400;
}
.subscribeForm {
	float: left;
}
.subscribeForm input {
	text-align: center;
}
.subscribeForm img {
	position: relative;
	left: 3px;
	height: 20px;
	width: 21px;
	float: left;
	margin-left: 5px;
	margin-top: 29px;
}
.subscribeForm p {
	position: relative;
	left: 10px;
	text-align: left;
	float: left;
	color: white;
	opacity: 0.7;
	font-size: 12px;
	font-weight: 300;
	margin-top: 25px;
	line-height: 12px;
}

/* form */

#subscr-block-1562 {
}
#subscr-form-1562 td {
	font-size:16px;
	font-weight: 400;
	text-align:center;
	padding:0;
}
#subscr-form-1562 input.form-submit {
	text-align:center;
	width: auto;
}
#subscr-form-1562 #form-submit-1562 {
	border:solid 1px #E0E0E0;margin-top:5px;
}
#subscr-form-1562 a.oferta {
	color: #034795;
	text-decoration: underline;
}
#subscr-form-1562 a.oferta:hover {
	text-decoration: none;
}
#subscr-form-1562 a.jc_compile_btn, input.form-submit {
	border:solid 1px #E0E0E0;margin-top:5px;
}
#subscr-form-1562 a.jc_compile_btn span, #subscr-form-1562 input[type="submit"] {
	margin-top: 18px;
	transition: 0.3s;
}
#subscr-form-1562 input[type=text] {
	color:#000;
	font-size:16px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:#ccc 1px solid;
	padding:7px 10px;
	margin:5px 0px 8px;
	width:270px;
	height: 40px;
}
#subscr-form-1562 textarea.leads_textarea {
	color:#000;
	font-size:16px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:#ccc 1px solid;
	padding:7px 10px;
	margin:5px 10px 8px;
	width:240px;
	height:120px;
}
#subscr-form-1562 select.leads_select {
	color:#000;
	font-size:16px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	border:#ccc 1px solid;
	padding:7px 5px;
	margin:5px 10px 8px;
	width:262px;
	line-height:30px;
}
iframe { width: 804px; height: 452px; }
footer iframe { width: 1200px; height: 400px; }
.mapBlock { width: 1200px; margin: 0 auto; }
/* Poll */

.sidebar .oprosBlock.firstPoll {
	display: block;
	padding-top: 30px;
	height: 291px;
}
.secondPoll {
	display: none;
}
.thirdPoll {
	display: none;
}
.results {
	display: none;
}

.resultBlock {	
	color: white;
	font-size: 14px;
	font-weight: 300;
}
.resultBlock .resultCircls .resultCircl {
	width: 10px;
	height: 10px;
	border-radius: 20px;
	float: left;
	margin-top: 5px;
}
.resultBlock .firstResult, .resultBlock .secondResult, .resultBlock .thirdResult {
	margin-bottom: 10px;
}
.question {
	padding-left: 20px;
}
.oprosBlock.results{
	padding-top: 20px;
	height: 301px;
}
.resultBlock .resultText {
	
}
.actionButton.last { height: 53px; }
.good { background-color: #149E27; }
.bad { background-color: #BA2121; }

/* Form */

.overlay {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.75);
	position: fixed;
	top: 0;
}
.overlay2 {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.75);
	position: fixed;
	top: 0;
}
.overlay3 {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.75);
	position: fixed;
	top: 0;
}
.formBox {
	width: 642px;
	height: 434px;
	margin: 0 auto;
	border-style: solid;
	border-width: 1px;
	border-color: #545454;
	background-color: #2B2B2B;
	background-color: rgba(25,25,25,0.92);
	border-radius: 5px;
	-pie-background: rgba(25,25,25,0.92);
	padding-top: 48px;
	margin-top: 117px;
	position: relative;
}
.bestClient {
	font-size: 15px;
	text-align: center;
	margin-top: 65px;
}
.titleBest {
	font-size: 20px;
}
.cancel {
	position: absolute;
	top:0;
	right:0;
	width: 50px;
	height: 33px;
	text-align: center;
	padding-top: 17px;
	z-index: 1100;
}
#u6914{top:-1000px;}
#subscr-form-9168 input.form-submit.jc_compile_btn{margin-top:13px;width:250px;height:60px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;background:#FAB70F;border:solid 0px #1a1a1a;box-shadow: 0 0px #000000;transition-duration: 0.150s;transition-delay: 0s;transition-timing-function: linear;}
#subscr-form-9168 input.form-submit.jc_compile_btn:hover{border:solid 0px #1a1a1a;background:#FAB70F;box-shadow: 0 0px #000000;}
#subscr-block-9168{}
#subscr-form-9168 td{font:normal 16px Arial,Helvetica,sans-serif;text-align:center;padding:0;}
#subscr-form-9168 input.form-submit{text-align:center;width:auto;}#subscr-form-9168 #form-submit-9168{border:solid 1px #e0e0e0;margin-top:5px;}#subscr-form-9168 a.oferta{color:#034795;text-decoration:underline;}#subscr-form-9168 a.oferta:hover{text-decoration:none;}#subscr-form-9168 a.jc_compile_btn span, #subscr-form-9168 input.form-submit.jc_compile_btn{font:normal 18px Helvetica;padding-top:7px;margin-bottom:-5px;}
#subscr-form-9168 input[type="text"] {
	font: normal 16px Helvetica;
	background: #FFFFFF;
	color: #000000;
	text-align: left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #CCCCCC 0px solid;
	padding: 7px 10px;
	margin: 5px 10px 8px;
	width: 259px;
	height: 49px;
	transition-duration: 0.150s;
	transition-delay: 0s;
	transition-timing-function: linear;
	text-align: center;
}
#subscr-form-1562 input[type="submit"]:hover { color: black !important; }
#subscr-form-9168 input[type=text]:hover{background:#ededed;border:#FFFFFF 0px solid;}
#u7542-4 {
	z-index: 787;
	width: 642px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
	line-height: 24px;
	font-family: '__Lato_5';
	font-weight: 400;
	left: -1px;
	position: relative;
	margin-top: 16px;
	margin-bottom: 24px;
}
#u7545-6 {
	z-index: 791;
	width: 642px;
	background-color: transparent;
	color: #BABABA;
	text-align: center;
	font-size: 16px;
	line-height: 7px;
	font-family: '__Lato_5';
	font-weight: 400;
	left: -1px;
	top: 4px;
	margin-bottom: 0px;
	position: relative;
}
#u6913 {
	width: 284px;
	min-height: 117px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin: 0px auto;
	margin-top: 3px;
}
.call {
	margin-top: 4px;
	width: 100%;
}
.call img {
	opacity: 0.69;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=69)";
	filter: alpha(opacity=69);
	width: 15px;
	margin-top: 3px;
	float: right;
}
.call p {
	background-color: transparent;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	color: #FFFFFF;
	font-size: 14px;
	line-height: 16px;
	font-weight: 300;
	margin-top: 2px;
	margin-left: 7px;
	float: right;
	margin-bottom: 0;
}
.call img:hover, .call p:hover, .headerLinksBlock p:hover {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

/* tablet version */

@media screen and (min-width: 1200px) {
	.subscribeForm p {
		width: 140px;
	}
	.info:hover li {
		display: block;
	}
	.info:hover {
		background: linear-gradient(rgba(57, 57, 55, 1), rgba(43, 43, 41, 1));
		border-radius: 5px 5px 0 0;
		text-decoration: none;
	}
}
@media screen and (max-width: 1199px){
	footer iframe, .mapBlock {
		width: 100%;
	}
	.secondInfo li {
		width: 45%;
		max-width: 588px;
	}
	.blackBlock {
		width: 100%;
	}
	.info.hover li {
		display: block;
	}
	.info.hover {
		background: linear-gradient(rgba(57, 57, 55, 1), rgba(43, 43, 41, 1));
		border-radius: 5px 5px 0 0;
		text-decoration: none;
	}
	html {
		background-position: 50% -250px;
	}
	body { margin: 0; }
	.logoConteiner {
		order: 1;
		flex-basis: 50%;
	}
	.phoneBlock {
		order: 2;
		flex-basis: 50%;
		margin-top: 10px;
	}
	.info {
		order: 3;
	}
	.subscribeBlock {
		margin-left; 0;
		flex-basis: calc(100% - 273px);
		width: 0;
		padding: 0;
		background: none;
	}
	.subscribeForm {
		position: relative;
		left: -10px;
	}
	.sidebar {
		order:2;
	}
	.textBlock {
		width: 100%;
		margin-right: 0;
	}
	.videoBlock {
		padding-bottom: 0;
		margin: 0 auto;
		flex-basis: 100%;
	}
	#timeref9f87870eaebca7b3a954a164e99305 {
		position: absolute;
		top: 318px;
		left: 73px;
	}
	.videoConteiner {
		position: relative;
	    /*padding-bottom: 56.25%;*/
	    height: 0;
	    overflow: hidden;
	}
	.videoConteiner iframe { 
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
	footer .text {
		height: 140px;
	}
	.subscribeBlock {
		margin-left: 0;
	}
	.subscribeBlock .text {
		margin-bottom: 40px;
	}
	.sidebar .headerTitle {
		padding-top: 73px;
	}
	.subscribeBlock .title {
		font-size: 24px;
	}
	.subscribeForm p {
		float: none;
		width: 150px;
	}
	footer .text .first { width: 90%; }
	footer .text .second { width: 90%; }
}
@font-face
{
	font-family: '__Lato_5';
	src: url('../fonts/lato-regular.eot');
	src: local('☺'), url('../fonts/lato-regular.woff') format('woff'), url('../fonts/lato-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../fonts/lato-medium.eot');
	src: local('☺'), url('../fonts/lato-medium.woff') format('woff'), url('../fonts/lato-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../fonts/lato-bold.eot');
	src: local('☺'), url('../fonts/lato-bold.woff') format('woff'), url('../fonts/lato-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
