/*

*/

.version.thank_you /* version checker */
{
	color: #000003;
	background-color: #7EA061;
}

#page
{
	z-index: 1;
	min-height: 1024px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 768px;
}

#u9186
{
	z-index: 12;
	min-height: 89px;
	background-color: #000000;
	padding-bottom: 31px;
}

#u9188
{
	z-index: 14;
	height: 54px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	width: 5.21%;
	left: 5.21%;
	background: transparent url("../../images/logo2.png") no-repeat center center;
	background-size: contain;
}

.hidpi #u9188
{
	background-image: url("../../images/logo2_2x.png");
}

#pu9189-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 42px;
	margin-left: 88px;
}

#u9189-4
{
	z-index: 15;
	width: 195px;
	min-height: 22px;
	background-color: transparent;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 24px;
	font-family: '__Lato_5';
	font-weight: 500;
	position: relative;
}

#u9190-4
{
	z-index: 19;
	width: 205px;
	min-height: 16px;
	background-color: transparent;
	opacity: 0.66;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
	filter: alpha(opacity=66);
	letter-spacing: 2px;
	color: #FFFFFF;
	font-size: 6px;
	line-height: 7px;
	font-family: '__Lato_5';
	font-weight: 400;
	margin-top: 1px;
	position: relative;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u9186-bw
{
	z-index: 12;
	min-height: 89px;
}

#u9184-4
{
	z-index: 2;
	width: 464px;
	min-height: 76px;
	background-color: transparent;
	text-align: center;
	font-size: 34px;
	line-height: 41px;
	font-family: '__Lato_5';
	font-weight: 400;
	margin-top: 110px;
	position: relative;
	margin-left: 17.06%;
}

#u9185-6
{
	z-index: 6;
	min-height: 71px;
	background-color: transparent;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	font-family: '__Lato_5';
	font-weight: 400;
}

#u9185-6-bw
{
	z-index: 6;
	min-height: 71px;
	margin-bottom: 100px;
}

#u9191-4
{
	z-index: 23;
	width: 394px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	line-height: 22px;
	font-family: '__Lato_5';
	font-weight: 400;
	margin-top: 172px;
	position: relative;
	margin-left: 24.35%;
}

#pu9194
{
	margin-top: 50px;
	width: 100%;
}

#u9194
{
	z-index: 29;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	width: 30.08%;
	left: 21.1%;
	background: transparent url("../../images/rambler.png") no-repeat left top;
	background-size: cover;
}

#u9195
{
	z-index: 30;
	height: 96px;
	position: relative;
	margin-right: -10000px;
	width: 23.44%;
	left: 55.6%;
	background: transparent url("../../images/mail_ru_transparent_logo-190x110.png") no-repeat left top;
	background-size: cover;
}

#pu9192
{
	margin-top: 38px;
	width: 100%;
}

#u9192
{
	z-index: 27;
	height: 92px;
	position: relative;
	margin-right: -10000px;
	width: 30.08%;
	left: 20.97%;
	background: transparent url("../../images/mail_logo_rgb_web.png") no-repeat left top;
	background-size: cover;
}

#u9193
{
	z-index: 28;
	height: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	width: 21.36%;
	left: 57.69%;
	background: transparent url("../../images/yandex_logo_en-svg%20copy.png") no-repeat left top;
	background-size: cover;
}

#u9187
{
	z-index: 13;
	height: 526px;
	background-color: #E5E5E5;
}

#u9187-bw
{
	z-index: 13;
	margin-top: -355px;
	margin-bottom: -355px;
	height: 526px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 500px;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../../fonts/lato-medium.eot');
	src: local('☺'), url('../../fonts/lato-medium.woff') format('woff'), url('../../fonts/lato-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: '__Lato_5';
	src: url('../../fonts/lato-regular.eot');
	src: local('☺'), url('../../fonts/lato-regular.woff') format('woff'), url('../../fonts/lato-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

